#titulo { -fx-font-family: "Montserrat";
    -fx-font-style: "Segoe UI";
    -fx-font-size: 12px;
    -fx-text-fill: #FFFFFF;
}

#fondo { -fx-background-color: #000000; }

Pane{
    -fx-border-color: #000000;
    -fx-background-color: #008287;
}

Label {
    -fx-border-color: #008287;
    -fx-border-width: 2;
    -fx-text-fill: #008287;
    -fx-font-family: "Montserrat";
    -fx-font-style: "Segoe UI";
    -fx-font-size: 12px;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

Button { -fx-background-color: #008287;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Montserrat";
    -fx-font-style: "Segoe UI";
    -fx-font-size: 12px;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

#autor { -fx-font-family: "Montserrat";
    -fx-text-fill: #FFFF00;
    -fx-font-size: 12px;
}

Button:hover { -fx-background-color: #333333;
    -fx-font-size: 12px;
}

Button:pressed { -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

